.titleboxes {
    display: flex;
    border-style: solid;
    width: 10vw;
    height: fit-content;
};

.card-content {
    display: flex;
    flex-direction: row;
    border-style: solid;
}

.contentboxes {
    display: flex;
    border-style: solid;
    width: 10vw;
    height: max-content;
}

.column {
    display: flex;
    border-style: solid;
    border-color: gray;
    flex-direction: column;
    width: 15vw;
    justify-content: center;
}

.button-container {
    display: flex;
    justify-content: space-evenly;
    padding: 10px
}

.flex-container {
    display: flex;
    flex-direction: row;
    justify-content: space-around;

}
