.section-content {
    display: flex;
    justify-content: center;

}

.container-cards {
    border-style: dashed;
    padding-left: 40px;
    height: 25pc;
    display: flex;
    justify-content: left;
    flex-direction: column;
    flex-wrap: wrap;
    overflow: auto;
}