.sipoc-name1 {
    display: flex;
    flex-wrap: wrap;
    height: fit-content;
    justify-content: left;
    font-family: 'Mansalva', cursive;
    font-size: 25px;
    color: green;
    padding: 3px;
    margin:  5px;
}