#welcome {
    display: flex;
    justify-content: center;

}

h1 {
    color: rgb(255, 153, 37);
    font-family: 'Mansalva', cursive;
}

#list {
    color: rgb(179, 175, 131);
    font-family: 'Mansalva', cursive;
    font-size: 20px
}
